html{
    scroll-behavior: smooth; position: relative; left:0px; top:0px; width: 100%; height: 100%;

    ::-webkit-scrollbar, .scroller  {
        width: 8px;
        height:8px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: $bColor;
        border-radius: 3px;
    }
}
body{
    font-family: 'Nunito', sans-serif;
    margin:0px; padding:0px; left:0px; top:0px; width: 100%; height: 100%;
    transition: 0.3s all;

    a{
        text-decoration: none;
        color:#222;
    }

    .form-group{
        label{ margin-top:5px; }
    }
    .form-control{
        height: 32px !important; margin-top:5px; margin-bottom: 2px;
    }
    select{
        padding-top:3px !important;
    }

    .select2-container--default .select2-selection--single{
        margin-top:5px !important; font-size:15px !important; height: 32px !important; padding-top: 2px !important;
    }
    .choose-position .select2-results__option .img-flag{
        padding-top: 10px !important; color: red !important;
    }

    input[readonly], select[disabled], textarea[readonly]{
        background-color:#fff !important;
    }

    .select2-container--default.select2-container--disabled .select2-selection--single {
        background-color: #fff;
        cursor: default; }
}
