@import "../variables.scss";

html{
    scroll-behavior: smooth; position: relative; left:0px; top:0px; width: 100%; height: 100%;

    ::-webkit-scrollbar, .scroller  {
        width: 8px;
        height:8px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: $primaryDark;
        border-radius: 3px;
    }
}

header {
    position: relative; left: 0px; top:0px; width: 100%; height: 60px; background: $primaryDark;
    .menu-wrapper{
        position: relative; left:calc(50% - 600px); width: $maxWidth; height: 60px; display: inline-flex; justify-content: space-between;
        .mw-logo{
            img{ margin-top:16px; height: 28px;}
        }
        .mobile-burger{
            position: absolute; right: 0px; top:10px; width: 40px; height: 40px; text-align: right; display: none;
            .fa-bars{
                color:#fff !important; font-size: 30px; margin-top: 6px;
            }
        }
        .mw-links{
            position: relative; top:0px; width: calc(100% - 200px); height: 40px; margin-top:10px; display: inline-flex; justify-content: flex-end;
            .single-link{
                position: relative; height: 40px; margin-left: 16px; display: inline-flex;
                a{
                    color:#fff; text-decoration: none; display: flex; align-items: center; gap: 4px;
                    i{
                        font-size: 15px;
                    }
                    img{
                        height: 6px !important;
                    }
                    .choosen__lang_img_w{
                        position: relative; height: 12px; min-width: 10px; display: flex; align-items: center; // border: 1px solid #ffffff; border-radius: 3px; overflow: hidden;
                        img{
                            height: 100% !important; margin: 0px; padding: 0px;
                        }
                    }
                }
                a:hover{cursor:pointer;}
                .link_submenu{
                    position: absolute; top: 40px; left:0px; background: $primaryDark; border: 1px solid #ffffff; z-index: 1000; padding: 16px;
                    &.d-none{
                        display: none;
                    }
                    a{
                        margin: 12px 0px;

                        img{
                            height: 14px !important;
                        }
                    }
                }
            }
            .sign-in{
                border: 1px solid #FFFFFF; border-radius: 4px; height: 32px; margin-top: 4px; padding: 0px 16px;
                // a{color:$yellow;}
                //  a{color: $primaryDark; font-weight: bold;}
            }
        }
    }
}

.mobile-menu{
    position: fixed; right: 0px; top: 0px; width: calc(100% - 0px); height: calc(100% - 0px); background: #fff; z-index: 10000; display: none;
    box-shadow: -8px 0px 20px 0px rgb(0 0 0 / 75%);
    .mm-header{
        position: relative; left: 35px; top: 0px; width: calc(100% - 70px); height: 100px; text-align: right;
        i{
            font-size: 30px; margin-top:30px;
        }

        .mm-social-networks{
            position: absolute; left: 0px; bottom: 0px; height: 30px; display: inline-flex; justify-content: left;

            a{
                color:grey; text-decoration: none; padding-top: 3px;
                svg{
                    margin-top: 4px;
                }
                img{
                    height: 16px;
                }
            }
            .active{
                font-weight: bold; color: #333333;
            }

            .vertical-line{position: relative; width: 1px; height: 100%; background: grey; margin: 0px 10px; }
        }
    }
    .mm-body{
        //position: relative; left: 20px; width: calc(100% - 40px);
        //.single-link{
        //    position: relative; height: 60px; margin-bottom: 2px;
        //    a{
        //        text-decoration: none; padding-top: 12px; width: 100%; display: block; color:#333; font-weight: bold;
        //        font-size: 24px;
        //    }
        //}

        position: absolute; left: 35px; top: 150px; width: calc(100% - 70px); height: calc(100% - 260px); overflow: auto;

        .single-link{
            position: relative; left: 0px; top: 0px; width: 100%; height: 60px;
            a{
                text-decoration: none;
                p{font-size:30px; color:grey; font-weight: bold; }
            }
        }
        .auth-link{
            background: $primaryDark; text-align: center; height: 50px; border-radius: 3px;

            a{
                display: flex; width: 100%; height: 100%; justify-content: center; align-items: center;
                p{
                    color: #ffffff; margin: 0px;
                }
            }
        }

        .rest-of-links{
            position: relative; left: 0px; top: 0px; width: 100%; height: auto; margin-bottom: 20px;
            a{
                text-decoration: none;
                .rol-link{
                    position: relative; width: 100%; height: 40px;
                    .rol-l-line{
                        position: absolute;
                        left: 20px;
                        top: 0px;
                        height: 100%;
                        width: 1px;
                        background: #EFEFEF;
                        .rol-l-l-circle{
                            position: absolute;
                            left: -3px;
                            width: 7px;
                            height: 7px;
                            top: calc(50% - 3px);
                            background: #EFEFEF;
                            border-radius: 50%;
                        }
                    }

                    p{
                        font-size: 20px;
                        margin-left: 36px;
                        padding-top: 7px;
                        color:grey;
                    }
                }
            }
        }
    }
    .mm-footer{
        position: absolute; left: 35px; bottom: 0px; width: calc(100% - 70px); height: 110px; display: flex; align-items: center;
        a{
            display: flex; width: 100%; height: 100%; align-items: center; text-decoration: none;
            .mm-lgn-btn{
                position: relative; width: 100%; height: 52px; background: $primaryDark; display: flex; align-items: center; justify-content: center;
                border-radius: 4px; color: #FFFFFF;
                p{
                    color: #ffffff; margin: 0px; font-weight: bold; font-size: 20px;
                }
            }
        }
        p{
            color: #000000; font-weight: bold; margin: 0px;
        }
    }
}


@media only screen and (max-width: 1400px){
    header {
        .menu-wrapper{
            width: 1200px; left: calc(50% - 600px);
        }
    }
}
@media only screen and (max-width: 1200px){
    header {
        .menu-wrapper{
            left: 30px; width: calc(100% - 60px);
        }
    }
}
@media only screen and (max-width: 1000px){
    header {
        position: fixed; z-index: 1000;
        .menu-wrapper{
            left: 20px; width: calc(100% - 40px);
            .mobile-burger{display: block;}
            .mw-links{
                display: none;
                //position: absolute; right: -20px; top: 60px; margin:0px; width: calc(100% + 40px); height: 120px; background: #fff;
                //flex-wrap: wrap;
                //.single-link{
                //    width: 100%; background: red; margin-left: 0px;
                //    a{
                //        color:#333; margin-left: 20px;
                //    }
                //}
            }
        }
    }
}
