.create__new_profile__w{
    position: relative; width: 1200px; min-height: 120px; left:calc(50% - 600px); margin-top: 32px;

    .profile__wrapper{
        position: relative; left: 0px; width: 100%; display: inline-flex; justify-content: space-between;
        .profile__wrapper_left{
            position: relative; width: 300px;

            .p__w_l_img_w{
                position: relative; left: 0px; top: 0px; width: 300px; border-radius: 4px; overflow: hidden; border: 1px solid rgba(0,0,0,0.1);
                form{
                    margin: 0px;
                    img{
                        position: relative; left: 0px; top: 0px; width: 100%; border-radius: 4px;
                    }

                    .edit-your-photo{
                        position: absolute; right: 20px; top:0px; margin-top: 20px; display: inline-flex; padding: 6px 20px; background: $dark; gap: 8px; border-radius: 4px;
                        opacity: 0; transition: 0.2s all;
                        i{font-size: 14px; margin-top: 2px; color:#FFFFFF;}
                        p{
                            margin: 0px; font-size: 14px; color: #FFFFFF;
                        }
                    }
                }
            }
            .p__w_l_img_w:hover{
                form{
                    .edit-your-photo{opacity: 1; cursor: pointer;}
                }
            }

            .p__w_l_links_w{
                position: relative; left: 0px; width: 100%; border-radius: 4px; border: 1px solid rgba(0,0,0,0.1); margin-top: 16px;
                padding: 16px;

                .social_network_wrapper{
                    position: relative; width: 100%; padding: 6px 16px; border: 1px solid rgba(0,0,0,0.1); border-radius: 8px; margin-bottom: 8px;
                    a{
                        color: #333333; text-decoration: none;
                    }
                    p{
                        margin: 0px; font-weight: bold;
                    }
                }

                .share-your-links{
                    margin: 0px;
                }
            }
        }

        .profile__wrapper_right{
            position: relative; width: calc(100% - 332px);
            .form-control{
                background: #FFFFFF; border-radius: 4px; height: 30px; padding-top: 3px;
            }
            textarea{min-height: 120px !important; }
            .btn{
                background: $dark; color: #FFFFFF; padding-left: 32px; padding-right: 32px;
            }
            .select2{

            }
            .select2-selection{margin: 0px !important; padding: 0px !important;}
            .select2-selection__rendered{
                height: 30px !important;
            }

            .select2-container .select2-selection--single {
                height: 32px !important;
                //padding: 8px 0;
            }
            .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: normal !important;
                padding-top: 6px !important;
            }
            .select2-container .select2-selection--single .select2-selection__rendered {
                white-space: normal !important;
            }

            .c-bootstrap-field{
                position: relative; left: 0px; top:0px; width: 100%; display: inline-flex; flex-wrap: wrap;
                .input-elements{
                    margin-top: 4px; width: 100%; display: inline-flex; justify-content: space-between;
                }
            }

            /* Sessions header */
            .inner__menu{
                position: relative; width: 100%; height: 60px; display: flex; gap: 16px;
                a{
                    width: calc(25% - 12px); position: relative; display: flex; text-decoration: none; color: #FFFFFF;
                    .im__element{
                        position:relative; width: 100%; height: 40px; justify-content: center; align-items: center;
                        background: #FFFFFF; display: flex; gap: 8px; border-radius: 4px; border: 1px solid rgba(0,0,0,0.2);
                        i, p{
                            margin: 0px; color: #333333;
                        }
                        i{font-size: 14px;}
                        p{font-weight: bold;}
                        &.active{
                            background: $dark; border: 1px solid $dark;
                            i,p{color: #FFFFFF;}
                        }
                    }
                }
            }
        }
    }
}
