@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;

0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);@import url(//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css);@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css);body {
  font-family: "Poppins", sans-serif;
}

header {
  height: 80px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #193a6f;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 999;
}

header .web-header {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .web-header .logo {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .web-header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .web-header nav .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

header .web-header nav .nav-menu .nav-item {
  font-size: 16px;
  font-weight: 600;
  color: #eeeeee;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

header .web-header nav .nav-menu .nav-item:hover {
  color: #ffffff;
}

header .web-header nav .search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .web-header nav .search input {
  padding: 10px;
  width: 40px;
  height: 40px;
  background: none;
  border: 2px solid #eeeeee;
  border-radius: 50px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  color: #eeeeee;
  outline: none;
  transition: 0.5s;
}

header .web-header nav .search i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #eeeeee;
  transition: 0.2s;
}

header .web-header nav .search:hover input {
  width: 250px;
  background: #132a51;
  border-radius: 10px;
  border-color: #ffffff;
}

header .web-header nav .search:hover i {
  opacity: 0;
  z-index: -1;
}

.slideshow-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  cursor: pointer;
  visibility: hidden;
}

.slideshow-container .slides-styler-wrapper {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  vertical-align: middle;
  z-index: 95;
}

.slideshow-container .slides-styler-wrapper .slides-container {
  overflow: hidden;
  display: flex;
  position: relative;
  top: 0;
  left: -100vw;
  width: 1000vw;
  z-index: 97;
}

.slideshow-container .slides-styler-wrapper .slides-container.shifting {
  transition: left 0.2s ease-in-out;
}

.slideshow-container .slides-styler-wrapper .slides-container .slide {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  transition: all 0.6s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.slideshow-container .slides-styler-wrapper .slides-container .slide.slide-white {
  color: #eeeeee;
}

.slideshow-container .slides-styler-wrapper .slides-container .slide .slide-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.slideshow-container .slides-styler-wrapper .slides-container .slide .slide-overlay .slide-content {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.slideshow-container .slides-styler-wrapper .slides-container .slide .slide-overlay .slide-content .title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}

.slideshow-container .slides-styler-wrapper .slides-container .slide .slide-overlay .slide-content .desc {
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.slideshow-container .slides-styler-wrapper .slides-container .slide .slide-overlay .slide-content .slide-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #193a6f;
  background-color: #eeeeee;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.slideshow-container .slides-styler-wrapper .slides-container .slide .slide-overlay .slide-content .slide-btn:hover {
  background-color: #193a6f;
  box-shadow: 0px 15px 20px rgba(25, 58, 111, 0.4);
  color: #eeeeee;
  transform: translateY(-7px);
}

.slideshow-container .slides-styler-wrapper .slides-container .slide .slide-overlay .slide-content .slide-btn:active {
  transform: translateY(-1px);
}

.slideshow-container .previous-arrow {
  transform: translate(-40vw, 0%) rotate(90deg);
  transition: background 0.5s;
  position: absolute;
  width: 4.5vmax;
  height: 4.5vmax;
  cursor: pointer;
  z-index: 101;
  opacity: 0.8;
}

.slideshow-container .next-arrow {
  position: absolute;
  transform: translate(40vw, 0%) rotate(-90deg);
  transition: background 0.5s;
  width: 4.5vmax;
  height: 4.5vmax;
  cursor: pointer;
  z-index: 101;
  opacity: 0.8;
}

.slideshow-container.animation-reveal {
  pointer-events: none;
}

.slideshow-container.animation-reveal .text {
  -webkit-animation: reveal-text 1s cubic-bezier(0.77, 0, 0.175, 1);
          animation: reveal-text 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.slideshow-container.animation-reveal .image {
  -webkit-animation: reveal-image 1s cubic-bezier(0.77, 0, 0.175, 1);
          animation: reveal-image 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.slideshow-container.animation-reveal .image1 {
  -webkit-animation: reveal-image1 1s cubic-bezier(0.77, 0, 0.175, 1);
          animation: reveal-image1 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.slideshow-container.animation-reveal .image2 {
  -webkit-animation: reveal-image2 1s cubic-bezier(0.77, 0, 0.175, 1);
          animation: reveal-image2 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.slideshow-container.animation-reveal .previous-arrow {
  -webkit-animation: reveal-arrow 1s cubic-bezier(0.77, 0, 0.175, 1);
          animation: reveal-arrow 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.slideshow-container.animation-reveal .next-arrow {
  -webkit-animation: reveal-arrow 1s cubic-bezier(0.77, 0, 0.175, 1);
          animation: reveal-arrow 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.slideshow-container.animation-previous {
  pointer-events: none;
}

.slideshow-container.animation-previous .text {
  -webkit-animation: previous-text 0.6s 0.085s;
          animation: previous-text 0.6s 0.085s;
}

.slideshow-container.animation-previous .image {
  -webkit-animation: previous-image 0.6s 0.085s;
          animation: previous-image 0.6s 0.085s;
}

.slideshow-container.animation-previous .image1 {
  -webkit-animation: previous-image1 0.6s 0.085s;
          animation: previous-image1 0.6s 0.085s;
}

.slideshow-container.animation-previous .image2 {
  -webkit-animation: previous-image2 0.6s 0.085s;
          animation: previous-image2 0.6s 0.085s;
}

.slideshow-container.animation-previous .previous-arrow {
  -webkit-animation: previous-left-arrow 0.6s;
          animation: previous-left-arrow 0.6s;
}

.slideshow-container.animation-previous .next-arrow {
  -webkit-animation: previous-right-arrow 0.6s;
          animation: previous-right-arrow 0.6s;
}

.slideshow-container.animation-next {
  pointer-events: none;
}

.slideshow-container.animation-next .text {
  -webkit-animation: next-text 0.6s 0.085s;
          animation: next-text 0.6s 0.085s;
}

.slideshow-container.animation-next .image {
  -webkit-animation: next-image 0.6s 0.085s;
          animation: next-image 0.6s 0.085s;
}

.slideshow-container.animation-next .image1 {
  -webkit-animation: next-image1 0.6s 0.085s;
          animation: next-image1 0.6s 0.085s;
}

.slideshow-container.animation-next .image2 {
  -webkit-animation: next-image2 0.6s 0.085s;
          animation: next-image2 0.6s 0.085s;
}

.slideshow-container.animation-next .previous-arrow {
  -webkit-animation: next-left-arrow 0.6s;
          animation: next-left-arrow 0.6s;
}

.slideshow-container.animation-next .next-arrow {
  -webkit-animation: next-right-arrow 0.6s;
          animation: next-right-arrow 0.6s;
}

@-webkit-keyframes reveal-text {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes reveal-text {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-webkit-keyframes reveal-image {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes reveal-image {
  0% {
    opacity: 0;
    transform: translate(0, -100%);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@-webkit-keyframes reveal-image1 {
  0% {
    opacity: 0;
    transform: translate(80%, -60%);
  }

  100% {
    opacity: 1;
    transform: translate(80%, 40%);
  }
}

@keyframes reveal-image1 {
  0% {
    opacity: 0;
    transform: translate(80%, -60%);
  }

  100% {
    opacity: 1;
    transform: translate(80%, 40%);
  }
}

@-webkit-keyframes reveal-image2 {
  0% {
    opacity: 0;
    transform: translate(-150%, -150%) rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: translate(-150%, -50%) rotate(-45deg);
  }
}

@keyframes reveal-image2 {
  0% {
    opacity: 0;
    transform: translate(-150%, -150%) rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: translate(-150%, -50%) rotate(-45deg);
  }
}

@-webkit-keyframes reveal-arrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes reveal-arrow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.8;
  }
}

@-webkit-keyframes previous-text {
  35% {
    transform: translate(-3%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@keyframes previous-text {
  35% {
    transform: translate(-3%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes previous-image {
  25%, 30% {
    transform: translate(-6%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@keyframes previous-image {
  25%, 30% {
    transform: translate(-6%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes previous-image1 {
  45%, 50% {
    transform: translate(60%, 40%);
  }

  to {
    transform: translate(80%, 40%);
  }
}

@keyframes previous-image1 {
  45%, 50% {
    transform: translate(60%, 40%);
  }

  to {
    transform: translate(80%, 40%);
  }
}

@-webkit-keyframes previous-image2 {
  25%, 30% {
    transform: translate(-180%, -50%) rotate(-45deg);
  }

  to {
    transform: translate(-150%, -50%) rotate(-45deg);
  }
}

@keyframes previous-image2 {
  25%, 30% {
    transform: translate(-180%, -50%) rotate(-45deg);
  }

  to {
    transform: translate(-150%, -50%) rotate(-45deg);
  }
}

@-webkit-keyframes previous-left-arrow {
  50% {
    transform: translateX(calc(-40vw - 3px)) rotate(90deg);
  }
}

@keyframes previous-left-arrow {
  50% {
    transform: translateX(calc(-40vw - 3px)) rotate(90deg);
  }
}

@-webkit-keyframes previous-right-arrow {
  50% {
    transform: translateX(calc(40vw - 3px)) rotate(-90deg);
  }
}

@keyframes previous-right-arrow {
  50% {
    transform: translateX(calc(40vw - 3px)) rotate(-90deg);
  }
}

@-webkit-keyframes next-text {
  35% {
    transform: translate(3%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@keyframes next-text {
  35% {
    transform: translate(3%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes next-image {
  25%, 30% {
    transform: translate(6%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@keyframes next-image {
  25%, 30% {
    transform: translate(6%, 0%);
  }

  to {
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes next-image1 {
  45%, 50% {
    transform: translate(100%, 40%);
  }

  to {
    transform: translate(80%, 40%);
  }
}

@keyframes next-image1 {
  45%, 50% {
    transform: translate(100%, 40%);
  }

  to {
    transform: translate(80%, 40%);
  }
}

@-webkit-keyframes next-image2 {
  25%, 30% {
    transform: translate(-120%, -50%) rotate(-45deg);
  }

  to {
    transform: translate(-150%, -50%) rotate(-45deg);
  }
}

@keyframes next-image2 {
  25%, 30% {
    transform: translate(-120%, -50%) rotate(-45deg);
  }

  to {
    transform: translate(-150%, -50%) rotate(-45deg);
  }
}

@-webkit-keyframes next-left-arrow {
  50% {
    transform: translateX(calc(-40vw + 3px)) rotate(90deg);
  }
}

@keyframes next-left-arrow {
  50% {
    transform: translateX(calc(-40vw + 3px)) rotate(90deg);
  }
}

@-webkit-keyframes next-right-arrow {
  50% {
    transform: translateX(calc(40vw + 3px)) rotate(-90deg);
  }
}

@keyframes next-right-arrow {
  50% {
    transform: translateX(calc(40vw + 3px)) rotate(-90deg);
  }
}

.partners {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.partners .partners-wrapper {
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 2.5%;
       column-gap: 2.5%;
  row-gap: 20px;
}

.partners .partners-wrapper .partners-item {
  width: 18%;
}

.partners .partners-wrapper .partners-item img {
  width: 100%;
  filter: grayscale(100);
  transition: all 0.4s ease-in-out;
}

.partners .partners-wrapper .partners-item img:hover {
  filter: grayscale(0);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #193a6f;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .footer-wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .footer-wrapper .logo {
  width: 250px;
}

footer .footer-wrapper .logo img {
  width: 100%;
}

footer .footer-wrapper .footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

footer .footer-wrapper .footer-nav .footer-nav-item {
  color: #eeeeee;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

footer .footer-wrapper .footer-nav .footer-nav-item:hover {
  color: #ffffff;
}

footer .copyright-social {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer .copyright-social .social-icons {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  font-size: 18px;
}

footer .copyright-social .social-icons a {
  color: #eeeeee;
  transition: all 0.4s ease-in-out;
  border-radius: 50%;
  padding: 8px;
}

footer .copyright-social .social-icons a:hover {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

footer .copyright-social .copyright {
  margin-top: 20px;
  color: #eeeeee;
  font-size: 12px;
  letter-spacing: 1px;
}

