.posts-wrapper{
    position: relative; left:0px; top:0px; width: 100%; min-height: 200px; height: auto;

    /* Single post preview */
    .single-post{
        position: relative; left:0px; top:0px; width: 100%; min-height: 128px; border-radius:4px; background:#fff;
        border:1px solid rgba(0,0,0,0.06); text-align:center; margin-top: 15px; padding-left: 15px; padding-right: 20px; padding-top: 5px;

        /* Header: Image, title, date time + number of likes */
        .sp-header{
            position: relative; left: 0px; top:0px; width: calc(100% - 0px); height: 60px;
            display: inline-flex; justify-content: flex-start;
            .sp-h-img-wrapper{
                position: relative; left: 0px; top: 0px; width: 40px; height: 40px; border-radius: 50%; overflow: hidden; margin-top: 10px;
                img{position: absolute; left:0px; top:0px; right:0px; bottom: 0px; margin: auto; max-width: 100%;}
            }
            .sp-h-name-field{
                position: relative; left:0px; top:0px; width: calc(100% - 60px); height: 40px; margin-top:10px; margin-left: 10px; text-align: left;
                p{margin:0px; font-weight: bold; font-size: 15px;}
                span{font-size: 14px; margin-top:-2px; padding:0px; display: block;}
            }
            .sp-icons{
                position: absolute; right: 0px; top:10px; width: 60px; height: 20px;
                display: inline-flex; justify-content: flex-end;
                .sp-i-wrapper{
                    position: relative; width: 20px; height: 20px; margin-left: 10px;
                    .fa-heart{color:#bb2d3b;}
                    .fa-edit{color:#00AEEB;}
                    i:hover{
                        cursor:pointer;
                    }
                }
            }
        }
        .sp-post{
            position: relative; left:0px; top:0px; width: 100%; text-align: left; margin-bottom:15px;
        }

        /* Iframe stylesheet */
        .iframe-wrapper{
            position: relative; left: 0px; width: calc(100% - 8px); border: 1px solid rgba(0,0,0,0.1); border-radius: 4px; margin-bottom:15px;
            padding-bottom: 56.25%; height: 0;
            iframe{
                position: absolute; top: 0; left: 0; width: 100%; height: 100%;
            }
        }

        /* Images stylesheet */
        .image-wrapper{
            position: relative; left: -13px; top:0px; width: calc(100% + 32px); height: 360px; background: rgba(0,0,0,0.2); text-align: center;
            border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; overflow: hidden;
            img{
                position: relative; left:0px; top:0px; width: auto; height: auto; max-height: 100%; margin:auto;
            }
        }
    }
}
