@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css');
@import url('bootstrap.css');

@import url('https://fonts.googleapis.com/css?family=Nunito:200,600');

@font-face {
    font-family: "Nunito-Bold";
    src: url("../fonts/Nunito-ExtraBold.ttf") format("opentype");
}
//@font-face {
//    font-family: 'Nunito-Bold';
//    font-style: normal;
//    font-weight: 800;
//    font-display: swap;
//    src: url(https://fonts.gstatic.com/s/nunito/v26/XRXI3I6Li01BKofiOc5wtlZ2di8HDDsmdTQ3jw.woff2) format('woff2');
//    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
//}

$bColor : #173668;
$white : #fff;
$dark : $bColor;

@import "main.scss";

// Notify

@import "../style/layout/snippets/notify";

// Menu

@import "menu/menu.scss";

// Homepage

@import "homepage/hero.scss";
@import "homepage/search.scss";
@import "homepage/partners.scss";
@import "homepage/news.scss";
@import "homepage/quotes";

// Register

@import "register/register.scss";

// Search

@import "search-results/players-list.scss";

// Footer

@import "footer/footer.scss";
@import "footer/footer-extended";

@import "../style/layout/snippets/select-2";
@import "players/preview";
@import "players/image-preview";

.select2-selection__rendered {
    line-height: 60px !important; background: none;
}
.select2-container .select2-selection--single {
    height: 60px !important; background: none !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

@import "search-results/search";
@import "pages/privacy";
