$primary: #193a6f;
$primaryDark: #132a51;
$white: #eeeeee;
$whiteHover: #ffffff;
$boxShadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$fieldLine: #487ED5;

$maxWidth: 1200px;
$gap: 20px;
$transition: all 0.4s ease-in-out;

$slider-width: 100vw;
$slider-height: 100vh;