@import "../variables.scss";

.register {
    margin: 0 calc((100vw - $maxWidth) / 2);
    padding-top: calc(80px + ($gap*2));
    padding-bottom: calc($gap*2);

    .welcome-text {
        font-size: 18px;
        letter-spacing: 1px;
        margin-bottom: calc($gap*2);
    }
}