.pp-header{
    position: relative; left:0px; top:0px; width: 100%; height: 360px;
    background: linear-gradient(45deg, #ffffff, rgba(0,0,0,0.5)) !important;
    // background: rgba(0,0,0,0.1);F
    //background-repeat: repeat;
    //.header-bcg{
    //    left: 0px; top: 0px; height: 30px;
    //
    //}

    .pp-h-img-wrapper{
        position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background-repeat: repeat; padding: 10px;
        display: inline-flex; justify-content: center; flex-wrap: wrap; gap: 21px; overflow: hidden;

        .header-bcg{
            position: relative; height: 30px; opacity: 0.2;
        }
    }
}

.public-container{
    .preview-wrapper, .preview-body-wrapper{
        position: relative; width: 100%; display: inline-flex; justify-content: space-between; margin-bottom: 30px; min-height: 400px;
        .pw-left{
            position: relative; left:0px; top:0px; width: 320px; height: 360px;
            .image-wrapper{
                position: relative; top:20px; width: 320px; height: 320px;
                border-radius: 50%; border:4px solid #fff; overflow: hidden; background: #ffffff;
                img{
                    position: absolute; left:0px; top:0px; width: 100%; height: 100%;
                }
            }

            .club-icon{
                position: absolute; width: 100px; height:100px; background: #ffffff; border-radius: 50%; bottom:20px; border: 2px solid #ffffff;
                overflow: hidden;
                img{
                    position: absolute; left:0px; top:0px; right: 0px; bottom: 0px; margin:auto; max-width: 80%; max-height: 80%;
                }
            }
        }
        .pw-right{
            position: relative; width: calc(100% - 340px); height: 360px;
        }
        .share-on-social-networks{
            position: absolute; right: 0px; top: 20px; width: 200px; height: 50px; display: inline-flex; justify-content: flex-end;
            .sos-wrapper{
                width: 30px; height: 30px; border: 1px solid rgba(0,0,0,0.05); margin-left: 10px; border-radius: 4px; text-align: center;
                background: #ffffff;

                i{
                    font-size: 18px; padding-top: 4px;
                }
                .svg{
                }
                .profile-facebook{margin-top: 3px;}
                .profile-twitter{margin-top:3px;}
                .fa-facebook{ color:#4267B2; }
                .fa-twitter{ color: #1DA1F2; }

                img{
                    height: 16px; margin-left: 7px; margin-top:5px;
                }
            }
            .sos-wrapper:hover{cursor:pointer; background:#fff;}
        }

        /* Shirt number */
        .shirt-number{
            position: absolute; right: 0px; top: 70px; width: 190px; height: 190px; text-align: right;
            h1{
                margin: 0px; padding: 0px; font-size: 160px; font-weight: bold; color:#ffffff;
            }
        }

        .pw-right-header{
            h1{color:#333; margin-left:0px; font-size: 80px; margin-top: 0px; font-weight: bold; margin-top: 20px;  font-family: 'Nunito-Bold', sans-serif;
                letter-spacing: 0px;}
            .social-networks{
                position: relative; left:0px; top:0px; width: 100%; height: 60px; margin-top: 10px;
                i{margin-right: 10px; color:#333;}
                i:hover{color:$primaryDark;}

                h5{
                    font-size: 30px;
                }
                p{ font-size: 24px; }
                .sn-club-data{
                    position: relative; left: 0px; top: 0px; width: 100%; display: inline-flex; justify-content: flex-start; flex-wrap: wrap;
                    .img-wrapper{
                        img{ height: 19px; margin-left: 10px; margin-top: 8px; }
                    }
                }
                .club-name-bcg{
                    color: $bColor;
                    a{
                        color: $bColor;
                    }
                }
            }
            .bottom-white{
                position: absolute; left: 0px; bottom: 0px; width: 100%; height: 80px; background: #fff; border-top-left-radius: 3px; border-top-right-radius: 3px;
                display: inline-flex; justify-content: space-between;
                .bw-title{
                    position: relative; left:0px; top:0px; width: calc(100% - 300px); height: 80px; display: inline-flex; justify-content: flex-start;
                    .icon-wrapper{
                        position: relative; margin-left:20px; top:20px; width: 40px; height: 40px; border-radius: 50%; background: $primaryDark; text-align: center;
                        i{color:#fff; padding-top: 11px;}
                    }
                    h2{
                        margin-left: 20px; padding-top:20px;
                    }
                }
                .bw-buttons{
                    position: relative; width: 260px; height: 40px; top: 20px; display: inline-flex; justify-content: flex-end;
                    .bw-b-button{
                        background: grey; padding:3px 15px; height: 30px; margin-top:5px; margin-right:20px; border-radius:3px;
                        p{
                            color:#fff; text-decoration: none; margin-top:0px; padding-top:1px; font-size: 15px;
                        }
                    }
                    .active{background: $primaryDark;}
                }
            }
        }

        .pw-left{
            .tb-row{
                position: relative; left:0px; top:0px; width: 100%; min-height:60px; margin-top:20px;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);

                .tb-row-col-flex{
                    position: relative; left:0px; top:0px; width: 100%; border-bottom: 1px solid rgba(0,0,0,0.1);
                    display: inline-flex; justify-content: space-between;
                    p{
                        margin:0px; font-size: 15px; padding-top:3px; font-weight: bold;
                        span{color:grey;}
                    }
                    .key, .value{
                        height: 30px; margin:5px 10px;
                    }

                    .value-img{
                        display: inline-flex;
                        img{
                            margin-top: 3px; margin-right: 5px; height: 15px; width: auto;
                        }
                        span{
                            color: #333333; margin-right: 5px;
                        }
                    }
                }
                .tb-row-col-flex-mobile-none{display: none;}
                h6{
                    margin:10px; padding-top:10px;
                }
                p{
                    margin:0px 10px;
                    a{
                        margin-right: 10px; display: inline-block; margin-bottom: 10px;
                        i{color:grey;}
                        i:hover{color:$primaryDark;}
                    }
                    img{
                        position: relative; width: 16px; color:#ffc107;
                    }
                    .yellow-star{color:#FFC107; margin-right: 0px !important;}
                    .star-trigger:hover{cursor: pointer; }
                }
                .player-reviewed{
                    i{margin-left:0px; margin-right: 5px;}
                    .ys-r{margin-right: 4px !important;}
                }
            }

            .custom-buttons{
                position: relative; left:0px; top:0px; width: 100%; height: 36px; margin-top:20px; display: inline-flex; justify-content: space-between;
                .button{
                    /* width: calc(50% - 5px);¸*/ width: 100%; text-align: center; color:#fff; padding-top:4px; font-weight: bolder; border-radius:3px;
                    background: #142D56;
                    a{color:#fff; font-size: 18px;}
                }
            }

            .img-thumb-wrapper{
                display: inline-flex; justify-content: flex-start; flex-wrap: wrap; padding-top:1px;
                .img-thumb{
                    position: relative; left: 0px; top: 0px; width: 106px; height: 106px; overflow: hidden; border: 1px solid rgba(0,0,0,0.1); margin-bottom: 1px;
                    img{
                        position:absolute; max-width:calc(100% + 100px); max-height:calc(100% + 100px); margin:auto;
                        left: -50px; right:-50px; top:-50px; bottom:-50px;
                    }
                }
                .img-thumb:first-child{margin-left: 1px;}
                .img-thumb:nth-child(4n + 4){
                    margin-left: 1px;
                }
            }

            /* Latest news */
            .latest-news{
                position: relative; left: 0px; top: 0px; width: 100%; min-height: 30px; background: red; margin-top: 20px;
            }
        }
        .pw-left-body{height: auto; margin-bottom: 30px;}
        .pw-right-body{
            border-left: 2px solid rgba(0,0,0,0.1); width: calc(100% - 338px); height: auto;
            .pw-r-b-info{
                position: relative; left:20px; top:0px; width: calc(100% - 40px);
                /* Additional info */
                .info-header{
                    position: relative; left:0px; top:0px; width: 100%; min-height: 50px; border:1px solid rgba(0,0,0,0.1); border-radius:3px;
                    display: inline-flex; justify-content: space-between;


                    .ih-element{
                        position: relative; display: inline-flex; width: 33.33%; justify-content: space-between; border-right:1px solid rgba(0,0,0,0.1);
                        padding-top:10px; padding-bottom: 10px; align-items: center;
                        p{
                            margin: 0px 20px; font-size: 15px; font-weight: bold;
                            span{color:grey; font-weight: lighter;}
                        }
                        p:first-child{
                            margin-left: 20px; margin-right: 0px;
                        }
                        p:last-child{
                            margin-left: 0px; margin-right: 20px;
                        }
                        .nationality{
                            display: inline-flex;
                            img{
                                height: 15px; margin-top: 3px; margin-right: 5px;
                            }
                        }
                    }
                    .ih-element:last-child{border: none;}
                }

                .statistics-wrapper{
                    position: relative; left:0px; top:0px; width: 100%; display: inline-flex; justify-content: space-between; flex-wrap: wrap;
                    .sw-data{
                        position: relative; left:0px; top:0px; width: 100%;
                        .line{
                            position: absolute; left: 14px; width: 2px; height: 100%; background: grey;
                        }
                        .sw-data-row{
                            position: relative; left:0px; top:0px; width: 100%; height: 50px; display: inline-flex; justify-content: flex-start;
                            .sw-dr-icon-wrapper{
                                position: relative; top:10px; width: 30px; height: 30px; background: #142D56; border-radius:50%; text-align:center;
                                i{color:#fff; margin-top: 7px;}
                            }
                            p{
                                margin-left: 20px; font-size: 20px; padding-top: 10px;
                                span{font-weight: bold; color:#142D56;}
                            }
                        }
                        .sw-data-row:hover{cursor: pointer;}
                        .sw-data-body{
                            position: relative; left:0px; top:0px; width: 100%;
                            .sw-db-row{
                                position: relative; margin-left: 50px; width: calc(100% - 50px); height: 36px; display: inline-flex; justify-content: space-between;
                                .sw-dbr-img{
                                    position: relative; left:0px; top:0px; width: 36px; height: 36px;
                                    img{
                                        position: absolute; left:0px; top:0px; right: 0px; bottom: 0px; max-width: 50%; max-height: 50%; margin:auto;
                                    }
                                }
                                h5{
                                    width: calc(100% - 80px); padding-left: 10px; margin-top: 8px; font-weight: bold; font-size: 18px;
                                }
                                .sw-dbr-total{
                                    position: relative; left:0px; top:0px; width: 36px; height: 36px; text-align: right;
                                    p{
                                        font-weight: bold; margin-top: 4px; font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                    .sw-data:first-child{
                        .line{
                            top: 14px; height: calc(100% - 14px);
                        }
                    }
                    .sw-data:last-child{
                        .line{height: calc(100% - 14px);}
                    }
                    .sw-data-hidden{
                        .sw-data-body{
                            height: 0px; overflow: hidden;
                        }
                    }
                }

                .info-table-header{
                    position: relative; left:0px; top:0px; width: 100%; height: 30px; background: rgba(0,0,0,0.03); display: inline-flex; justify-content: space-between;
                    .season{width: 120px; text-align: center;}
                    .asist, .goals, .more {width: 100px; text-align: center;}
                    .club{width: calc(100% - 420px); }
                    .td{
                        font-size: 14px; padding-top:4px;
                    }
                    .more:hover{cursor:pointer;}
                }
                .info-table-row{
                    background: none; height: 34px; padding-top:3px; padding-bottom:3px;
                    .asist{border-left: 1px solid rgba(0,0,0,0.1);}
                    .td{padding-top:4px;}
                }
                .more-info{
                     height: 0px; overflow: hidden;
                    .mi-row{
                        position: relative; left:0px; top:0px; width: 100%; height: 30px;
                        .text{
                            position: absolute; left:120px; font-size: 14px; padding-top:3px;
                        }
                        .value{
                            position: absolute; left: calc(100% - 300px); width: 100px; border-left: 1px solid rgba(0,0,0,0.1); text-align: center; height: 30px;
                            p{margin-left: 0px; font-size: 14px; padding-top:3px;}
                        }
                    }
                    .d-hidden{display: none;}
                }
                .more-info-active{height: auto; border-bottom: 1px solid #333; }
                .col-active{
                    .info-table-first-row{
                        background: linear-gradient(45deg, #2A60B7, rgba(0,0,0,0.2))!important;
                        .td{
                            color:#fff;
                            .text-info{color:#fff !important;}
                        }
                    }
                    .more-info{height: auto; border-bottom: 1px solid rgba(0,0,0,0.1);}
                }

                /* User posts - timeline */
                .single-post{
                    position: relative; left:0px; top:0px; width: 100%; min-height: 100px; background: rgba(0,0,0,0.03); border-radius: 3px;
                    margin-bottom: 20px;
                    .sp-header{
                        position: relative; left:0px; top: 0px; width: 100%; height: 60px;
                        .sp-h-iw{
                            position: absolute; left: 15px; top:15px; width: 40px; border-radius: 50%; overflow: hidden; height: 40px;
                            img{
                                position: absolute; left:0px; top:0px; right: 0px; bottom: 0px; margin: auto; max-width: 100%;
                            }
                        }
                        .sp-h-data{
                            position: absolute; left: 80px; top:15px; width: calc(100% - 80px); height: 40px;
                            p{margin: 0px; padding: 0px; font-weight: bold;}
                            span{font-size: 12px; color:grey; margin: 0px; padding: -5px; position: absolute; bottom: -2px;}

                            .love-it{
                                position: absolute; right: 15px; top:0px; width: 40px; height: 40px; text-align: right;
                            }
                            .love-it:hover{cursor: pointer;}
                            .loved-it{
                                i{color:#bb2d3b;}
                            }
                        }
                    }
                    .sp-body{
                        margin: 15px;
                        p{
                            font-size: 15px;
                            a{text-decoration: none; color: #25cff2;}
                        }
                    }
                    padding-bottom: 1px;
                }
                .single-post:last-child{margin-bottom: 0px;}
            }
        }
    }

    /* Shirt number */
    //.shirt-number{
    //    position: absolute; right: -350px; top:0px; width: 340px; height: 360px; background: grey;
    //}
}

@media only screen and (max-width: 1200px){
    .public-container{
        .preview-body-wrapper{
            flex-wrap: wrap;
            .pw-left, .pw-right{width: 100%; border:none;}
            .pw-right{
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
                padding-top:20px;
            }

            .pw-left{
                .tb-row{
                    .tb-row-col-flex-mobile-none{display: inline-flex;}
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px){
    .pp-header{
        margin-top: 60px;
    }
    .public-container{
        .preview-wrapper{
            .pw-right-header{
                .bottom-white{
                    height: 60px;
                    .bw-title{
                        .icon-wrapper{
                            height: 30px; top: 15px; width: 30px;
                            i{font-size: 15px; padding-top:6px;}
                        }
                        h2{font-size: 20px; padding-top:18px;}
                    }
                    .bw-buttons{
                        height: 30px; top: 10px;
                        .bw-b-button{
                            p{
                                font-size: 14px; padding-top: 2px;
                            }
                        }
                    }
                }
            }

            .shirt-number{display: none;}
        }
    }
}

@media only screen and (max-width: 800px){
    .pp-header{height: auto; text-align: center;}
    .public-container {
        margin-top: 60px;
        .preview-wrapper {
            flex-wrap: wrap;
            .pw-left, .pw-right{width: 100%; border:none; text-align: center;}
            .pw-left{
                height: 410px;
                .image-wrapper{
                    left: 0px; margin-left: calc(50% - 160px); margin-top: 50px;

                }
                .club-icon{
                    margin-left: calc(50% - 160px); bottom:10px;
                }
                .tb-row{}
            }
            .pw-right-header{
                h1{
                    font-size: 40px;
                }
                .social-networks{
                    h5{ font-size: 20px; }
                    p{ font-size: 16px; }

                    .sn-club-data{
                        justify-content: center;
                        .img-wrapper{
                            img{
                                margin-top: 2px; height: 16px;
                            }
                        }
                    }
                }
                height: auto;
                .bottom-white{
                    position: relative; height: 40px; padding:0px; background: none;
                    .bw-title{display: none;}
                    .bw-buttons{
                        width: 100%; justify-content: space-between; display: inline-flex; height: 60px; margin:0px;
                        a{
                            display: block; width: 48%;
                            .bw-b-button{
                                position: relative; margin: 0px; height: 38px;
                                p{margin:0px; font-size: 20px;}
                            }
                        }
                        .bw-b-a-btn-1{
                            width: 100%;
                            .bw-b-button{
                                width: 100%;
                            }
                        }
                    }
                }
            }

        }
        .preview-body-wrapper{
            .pw-left{
                .tb-row{
                    h6, p{text-align: center;}
                }

                .img-thumb-wrapper{
                    padding-top:2px;
                    .img-thumb{
                        width: 33%; margin-bottom: 2px;
                        img{
                            position:absolute; max-width:calc(100% + 100px); max-height:calc(100% + 100px); margin:auto;
                            left: -50px; right:-50px; top:-50px; bottom:-50px;
                        }
                    }
                    .img-thumb:first-child{margin-left: 2px;}
                    .img-thumb:nth-child(4n + 4){
                        margin-left: 2px;
                    }
                }
            }

            .pw-right{
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0);
                -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0);
                -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0);
                padding-top:20px;

                .pw-r-b-info{
                   .statistics-wrapper{
                       .sw-data{
                           .sw-data-row{
                               p{
                                   font-size: 18px;
                                   span{
                                       font-size: 20px;
                                   }
                               }
                           }
                       }
                   }
                }
            }

            .pw-right-body {
                padding: 0px;
                .pw-r-b-info {
                    left: 0px; width: 100%;
                    .info-header {
                        display: none;
                        flex-wrap: wrap; left: 0px; width: 100%; border-right: 0px; border-left: 0px;
                        .ih-element{width: 100%; border-right: none; border-bottom: 1px solid rgba(0,0,0,0.1);}
                    }
                    h4{margin-left: 10px;}
                    .info-table-header{
                        left: 10px; width: calc(100% - 20px); padding-left:5px;
                        .season{text-align: left; width: 100px;}
                        .club{width: calc(100% - 180px);}
                        .asist, .goals{display: none;}
                        .more{width: 80px;}
                    }

                    .more-info{
                        padding-left: 5px;
                        .d-hidden{display: block;}
                        .mi-row{
                            min-height: 30px;
                            .text{
                                left: 5px; width: calc(100% - 85px);
                            }
                            .value{
                                left: calc(100% - 105px); width: 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}
